In [17]:
import sqlite3

def list_tables(db_path):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    
    # Get all tables
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    
    print(f"Tables in {db_path}:")
    for table in tables:
        print(table[0])
    
    conn.close()

# Example usage
list_tables("BankMT.db")
list_tables("BankNH.db")

Tables in BankMT.db:
MTBANK
Tables in BankNH.db:
sqlite_sequence
NEWBANK
NEW
NEWB
NEWT

In [18]:
import sqlite3
import pandas as pd  # Optional (for pretty printing)

def view_table(db_path, table_name):
    conn = sqlite3.connect(db_path)
    
    # Get data into a pandas DataFrame (for clean display)
    df = pd.read_sql(f"SELECT * FROM {table_name}", conn)
    
    print(f"\n--- {table_name} in {db_path} ---")
    print(df)
    
    conn.close()

# View MTBANK table (BankMT.db)
view_table("BankMT.db", "MTBANK")

# View NEWBANK table (BankNR.db)
view_table("BankNH.db", "NEWBANK")

--- MTBANK in BankMT.db ---
Empty DataFrame
Columns: [TYPE, AMOUNT, SENDER, SENDEROLDBAL, SENDERNEWBAL, RECEIVER, RECOLDBAL, RECNEWBAL]
Index: []

--- NEWBANK in BankNH.db ---
      ID   USERNAME FIRSTNAME LASTNAME              EMAIL      PASSWORD  \
0     14   kokomnia   afolabi   sunday      afo@yahoo.com  afolabi12345
1     16     lappy1   afolabi   sunday      afo@gmail.com         12345
2     17     DFGHJK   DFGHJKL  DFGHJKL            DFGHJK@         12345
3     18    afolabi    sunday   sunday  afolabi@yahoo.com      12345678
4     19        afo  afsdfghj   dfghjk   dfghjk@yahoo.com    har4labi01
..   ...        ...       ...      ...                ...           ...
209  225  usman@990  muhammad    usman    usman@gmail.com      usman123
210  226   abbas123     Abbas   Abbasi         abbas@1234      abbas786
211  227     sazzad    sazzad   hossen       sd@gmail.com      ssazzadd
212  228     sazzad   Sazzad    Hossen   sazzad@gmail.com        sazzad
213  229       amit      amit      sha     amit@gmail.com          amit

          CONFIRM        PHONE   SEX     ADDRESS      BAL
0    afolabi12345  08132930957  male      molete   2000.0
1           12345  08132930957  male      moniya   4000.0
2           12345  12345678902  MALE      MONIYA   5000.0
3        12345678  12345678912  male     afolabi      NaN
4      har4labi01  08132930957  male     dfghjkl      NaN
..            ...          ...   ...         ...      ...
209      usman123  03321223121  male   liaqatpur   1500.0
210      abbas786  03321998001  male  bahawalpur  10046.0
211      ssazzadd  01256892523  Male       Dhaka      NaN
212        sazzad  01865569365  Male       Dhaka      NaN
213          amit  01745456123  Male       Dhaka      NaN

[214 rows x 11 columns]

In [8]:
def analyze_mtbank():
    conn = sqlite3.connect("BankMT.db")
    cursor = conn.cursor()
    
    # Get column names
    cursor.execute("PRAGMA table_info(MTBANK)")
    columns = cursor.fetchall()
    print("\nMTBANK Columns:")
    for col in columns:
        print(col[1])  # Column names
    
    # Example: List last 5 transactions
    cursor.execute("SELECT * FROM MTBANK ORDER BY ROWID DESC LIMIT 5")
    print("\nLast 5 Transactions:")
    for row in cursor.fetchall():
        print(row)
    
    conn.close()

analyze_mtbank()

MTBANK Columns:
TYPE
AMOUNT
SENDER
SENDEROLDBAL
SENDERNEWBAL
RECEIVER
RECOLDBAL
RECNEWBAL

Last 5 Transactions:

In [19]:
import pandas as pd

def export_to_csv(db_path, table_name):
    """Export a table to CSV"""
    conn = sqlite3.connect(db_path)
    df = pd.read_sql(f"SELECT * FROM {table_name}", conn)
    df.to_csv(f"{table_name}.csv", index=False)
    conn.close()
    print(f"Exported {table_name} to {table_name}.csv")

# Export data (modify table names as needed)
export_to_csv("BankNH.db", "NEWBANK") 
export_to_csv("MTBank.db", "MTBANK")

Exported NEWBANK to NEWBANK.csv

DatabaseError: Execution failed on sql 'SELECT * FROM MTBANK': no such table: MTBANK

In [8]:
import sqlite3
conn = sqlite3.connect("BankNH.db")
cur = conn.cursor()
a = cur.execute("SELECT * FROM NEWBANK WHERE USERNAME = 'john_doe'")
result = a.fetchall()  # This fetches all matching rows
for row in result:
    print(row)
conn.close()

(230, 'john_doe', 'John', 'Doe', 'john.doe@newmail.com', 'secure123', 'secure123', '1234567890', 'Male', '456 New Ave', 1500.0)

In [ ]:
import sqlite3

def create_account(username, firstname, lastname, email, password, 
                   phone, sex, address, initial_balance):
    conn = sqlite3.connect("BankNH.db")
    cur = conn.cursor()
    
    cur.execute("""
        INSERT INTO NEWBANK (USERNAME, FIRSTNAME, LASTNAME, EMAIL, PASSWORD, 
                             CONFIRM, PHONE, SEX, ADDRESS, BAL)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, (username, firstname, lastname, email, password, 
          password, phone, sex, address, float(initial_balance)))
    
    conn.commit()
    conn.close()
    print("Account created successfully!")

#insert and create account
create_account("john_doe", "John", "Doe", "john@example.com", "secure123", 
               "1234567890", "Male", "123 Main St", 1000.0)

Account created successfully!

In [7]:
import sqlite3

def update_account(username, new_email=None, new_address=None, new_balance=None):
    with sqlite3.connect("BankNH.db", timeout=10) as conn:
        cur = conn.cursor()

        # Build the update query dynamically based on which values are provided
        updates = []
        values = []

        if new_email:
            updates.append("EMAIL = ?")
            values.append(new_email)
        if new_address:
            updates.append("ADDRESS = ?")
            values.append(new_address)
        if new_balance is not None:
            updates.append("BAL = ?")
            values.append(float(new_balance))

        if updates:
            update_query = f"UPDATE NEWBANK SET {', '.join(updates)} WHERE USERNAME = ?"
            values.append(username)

            cur.execute(update_query, values)
            conn.commit()
            print("Account updated successfully!")
        else:
            print("No updates provided.")

# ✅ Example usage
update_account("john_doe", new_email="john.doe@newmail.com", new_address="456 New Ave", new_balance=1500.0)

Account updated successfully!